<a href="https://colab.research.google.com/github/RahulParajuli/AccidentDetectionSystem_using_InceptionV3/blob/main/python100questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. User will input number. Find the biggest one

In [ ]:
a = int(input("enter the first age: "))
b = int(input("enter second age: "))
c = int(input("enter 3rd age: "))

if a>b and a>c:
  print("a is greatest")
elif b>a and b>c:
  print("b is greatest")
else:
  print("c is greatest")

enter the first age: 3
enter second age: 4
enter 3rd age: 5
c is greatest

2. Write a program that will convert celsius value to fahrenheit

In [ ]:
celcius = int(input("enter the celcius"))

farhenheit = (celcius * 9/5) + 32
print("farenheit of the celcuis is : ",farhenheit)

enter the celcius45
farenheit of the celcuis is :  113.0

3. User will input (2numbers).Write a program to swap the numbers

In [ ]:
a = int(input("enter first number: "))
b = int(input("enter second number: "))

print("the initial number is: ",a,b)

temp = a
a = b
b = temp

print("the final number after swap is: ", a,b)

enter first number: 2
enter second number: 3
the initial number is:  2 3
the final number after swap is:  3 2

4. Write a program that will reverse a four digit number.Also it checks whether the reverse is true.

In [ ]:
num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 4321

5. Write a program that will give you the sum of 3 digits

In [ ]:
a = int(input("enter first number: "))
b = int(input("enter second number: "))
c = int(input("enter third number: "))

print(a+b+c)

enter first number: 2
enter second number: 2
enter third number: 2
6

6. Write a program that will tell whether the number entered by the user is odd or even.

In [ ]:
num = int(input("enter a number: "))

if num%2==0:
  print("the number is even", num)
else:
  print("the number is odd", num)

enter a number: 4
the number is even 4

7. Write a program that will tell whether the given year is a leap year or not.

In [ ]:
year = int(input("enter a year: "))

if year%400 == 0 | year%100==0 | year%4==0:
    print("it is leap year")
else:
  print("it is not a leap year")

enter a year: 2022
it is not a leap year

8. Write a program to find the euclidean distance between two coordinates.

In [ ]:
import math

In [ ]:
x1 = int(input("enter first point coordinate as x1: "))
x2 = int(input("enter first point coordinate as x2: "))
y1 = int(input("enter second point coordinate as y1: "))
y2 = int(input("enter second point coordinate as y2: "))

euclidean = (((x2-x1)**2)+((y2-y1)**2))

ecd= math.sqrt(euclidean)
print("the euclidean distance is: ", euclidean)

enter first point coordinate as x1: 45
enter first point coordinate as x2: 32
enter second point coordinate as y1: 56
enter second point coordinate as y2: 12
the euclidean distance is:  2105

Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# triangle theorem = two of the three sides addition should be greater than itself

def triangle(a, b, c):
  if a+b >c and b+c >a and c+a> b:
    print("it is a triangle")
  else:
    print("it is not a triangle")
  return

side1 = int(input("enter first angle: "))
side2 = int(input("enter second angle: "))
side3 = int(input("enter third angle: "))
triangle(side1,side2,side3)

enter first angle: 45
enter second angle: 45
enter third angle: 45
it is a triangle

Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit

In [ ]:
def sales(cost, sell):
  if cost > sell:
    loss = cost - sell
    print("it is loss with: ", loss)
  elif sell > cost:
    profit = sell - cost
    print("it is profit with: ", profit)
  return

cost = int(input("enter cost amount: "))
sell = int(input("enter sell amount: "))
sales(cost,sell)

enter cost amount: 200
enter sell amount: 150
it is loss with:  50

Write a program to find the simple interest when the value of principle,rate of interest and time period is given.

In [ ]:
def interest(principle, rate, time):
  i = (principle * rate * time)/100
  print("intrest of the given input is: ", i)
  return

principle = int(input("enter principle: "))
rate = int(input("enter rate: "))
time = int(input("enter time: "))

interest(principle, rate,time)

enter principle: 23
enter rate: 34
enter time: 2
intrest of the given input is:  15.64

Write a program to find the volume of the cylinder. Also find the cost when ,when the cost of 1litre milk is 40Rs.

In [ ]:
#volume of cylinder = (pi*r**2)*h
def volume(radius, height):
  vol = (math.pi*radius**2)*height
  print("the volume of cylinder is: ", vol,"cubic meter")
  return vol

#1 cubic meter is 1000 ltr so we have our volume as cubic meter
def cost(volume):
  cost = "Rs. " + str(int((volume/1000)*40))
  print("the cost of milk at a given litre is: ", cost)
  return

rad = int(input("enter radius of the cylinder: "))
hei = int(input("enter the height of the cylinder: "))
vol = volume(rad, hei)
cost(vol)

enter radius of the cylinder: 4
enter the height of the cylinder: 10
the volume of cylinder is:  502.6548245743669 cubic meter
the cost of milk at a given litre is:  Rs. 20

Write  a program that will tell whether the given number is divisible by 3 & 6.

In [ ]:
def divisible(n):
  if n%3==0 and n%6==0:
    return "it is divisible by 3 and 6"
  else:
    return "its not divisible by 3 and 6"

n = int(input("enter a number: "))
divisible(n)

enter a number: 12

'it is divisible by 3 and 6'

Write a program that will determine weather when the value of temperature and humidity is provided by the user.
TEMPERATURE(C)      HUMIDITY(%)      WEATHER

      >= 30                             >=90                Hot and Humid
      >= 30                             < 90                 Hot
      <30                                >= 90               Cool and Humid
      <30                                 <90                 Cool

In [ ]:
def checkWeather(n):
  if n>=90 and n>=30:
    print("it is Hot and Humid")
  elif n>=30 and n<90:
    print("it is Hot")
  elif 90<=n and n<30:
    print("it is Cool and Humid")
  elif n<30 and n<90:
    print("it is Cool")
  else:
    print("the wether is undefined")

checkWeather(30)
checkWeather(90)
checkWeather(45)
checkWeather(10)
checkWeather(100)

it is Hot
it is Hot and Humid
it is Hot
it is Cool
it is Hot and Humid

Write a program that will take three digits from the user and add the square of each digit.

In [ ]:
def addition(a,b,c):
  added = (a**2)+(b**2)+(c**2)
  print(added)

num1 = int(input("enter first number: "))
num2 = int(input("enter second number: "))
num3 = int(input("enter third number: "))

addition(num1, num2, num3)

enter first number: 2
enter second number: 2
enter third number: 2
12

Write a program that will check whether the number is armstrong number or not.

In [ ]:
#number given when powered by total number gives the same number
#for example - if user provide 407 as input then 
# (4*4*4) + (0*0*0) + (7*7*7)
# = 64 + 0 + 343
# which gives = 407

num = int(input("enter a number: "))
result = 0
n = 0

temp = num
while (temp != 0):
  temp = int(temp/10)
  n = n+1
#   print(temp)

temp = num
while (temp > 0):
  remainder = temp % 10
  result = result + pow(remainder,n)
  temp = temp//10

if (result == num):
  print("armstrong number")
else:
  print("Not an armstrong number")

enter a number: 407
armstrong number

<h1> how i code
<h1> vs
<h1> how my girlfriend codes

In [ ]:
def armstrong(num):
    temp = [pow(int(x),len(str(num))) for x in str(num)]
    return ("It is Armstrong") if sum(temp) == num else print("It is not Armstrong")
num = int(input(("Enter a num: ")))
armstrong(num)

Enter a num: 407

'It is Armstrong'

Write a program that will take user input of (4 digits number) and check whether the number is narcissist number or not.

In [ ]:
# armstrong number and narcissist number are same

num = int(input("enter a number: "))
n = 0
result = 0
temp = num

while (temp != 0):
  temp = int(temp/10)
  n+=1

#gives number of digit

#again
temp = num
while(temp != 0):
  remainder = temp % 10
  result = result + pow(remainder, n)
  temp = temp//10

if result == num:
  print("it is a narcissist number")
else:
  print("it is not a narcissist number")

enter a number: 407
it is a narcissist number

Write a program that will give you the in hand salary after deduction of HRA(10%),DA(5%),PF(3%), and tax(if salary is between 5-10 lakh–10%),(11-20lakh–20%),(20< _   – 30%)(0-1lakh print k).

In [ ]:
def salary_calculation(salary):
  HRA = salary * 0.1
  DA = salary * 0.05
  PF = salary * 0.03
  total_salary = salary - HRA - DA - PF

  if total_salary > 500000 and total_salary < 1000000:
    tax = total_salary * 0.1
    total_salary = total_salary - tax
    print ("the tax lies in 10%, received salary: ", total_salary)

  elif total_salary < 100000:
    print("K")

  elif total_salary > 1100000 and total_salary < 2000000:
    tax = total_salary * 0.2
    total_salary = total_salary - tax
    print("the tax lies in 20%, received salary: ", total_salary)

  else:
    tax = total_salary * 0.3
    total_salary = total_salary - tax
    print("the tax lies in 30%, received salary: ", total_salary)

n = 5
while (n != 0): 
  salary = int(input("enter the amount of salary: "))
  salary_calculation(salary)
  n = n-1

enter the amount of salary: 100000
K
enter the amount of salary: 200000
the tax lies in 30%, received salary:  114800.0
enter the amount of salary: 300000
the tax lies in 30%, received salary:  172200.0
enter the amount of salary: 400000
the tax lies in 30%, received salary:  229600.0
enter the amount of salary: 500000
the tax lies in 30%, received salary:  287000.0

Write a menu driven program -<br> 1.cm to ft <br>  2.km to miles <br> 3.usd to npr <br> 4.exit

In [ ]:
def to_ft(length):
  #Formula	divide the length value by 30.48
  ft = length / 30.48
  print("-"*50)
  print("the conversion from cm to feet is: ",ft, "ft")
  print("-"*50)
def to_cm(length):
  cm = length*30.48
  print("-"*50)
  print("the conversion from feet to cm is: ",cm,"cm")
  print("-"*50)
def to_km(length):
  #1 kilometer is equal to 0.621371 miles
  km = length * 1.6
  print("-"*50)
  print("the conversion from miles to kilometer is: ",km, "km")
  print("-"*50)
def to_miles(length):
  miles = length * 0.621371
  print("-"*50)
  print("the conversion from km to miles is: ",miles,"miles")
  print("-"*50)
def to_usd(amount):
  usd = amount / 122
  print("-"*50)
  print("the conversion from NPR to USD is: $",usd)
  print("-"*50)
def to_npr(amount):
  npr = amount * 122
  print("-"*50)
  print("the converion from USD to NPR is: Rs",npr)
  print("-"*50)

while True:
  print("\n MAIN MENU")
  print("1. Calculate cm to ft")
  print("2. Calculate km to miles")
  print("3. Calculate USD to NPR")
  print("4. exit!!!")
  choice1 = int(input("enter the operation in their respective number: "))

  if choice1 ==1:
    print("Welcome to calculation of cm to ft")
    print("-"*50)
    print("select operation")
    print("1. to ft | 2. to cm | 3. exit")

    choice2 = int(input("enter operation"))

    if choice2 == 1:
      cm = int(input("enter length in CM: "))
      to_ft(cm)
    elif choice2 ==2:
      ft = int(input("enter length in ft: "))
      to_cm(ft)
    else:
      break
  elif choice1 ==2:
    print("Welcome to calculation of km to miles")
    print("-"*50)
    print("select operation")
    print("1. to km | 2. to miles | 3. exit")
    choice2 = int(input("enter operation: "))

    if choice2 == 1:
      km = int(input("enter miles: "))
      to_km(km)
    elif choice2==2:
      miles = int(input("enter km: "))
      to_miles (miles)
    else:
      break
  elif choice1 ==3:
    print("welcome to USD to NPR currency converter")
    print("-"*50)
    print("select operation")
    print("1. to USD | 2. to NPR | 3. exit")
    choice2 = int(input("enter operation"))

    if choice2==1:
      print("convert to USD")
      npr = int (input("enter price in nepalese currency: "))
      to_usd (npr)
    elif choice2==2:
      print("conver to NPR")
      usd = int(input("enter currency in USD: "))
      to_npr(usd)
    else:
      break
  elif choice1 == 4:
    break
  else:
    print("wrong input")

 MAIN MENU
1. Calculate cm to ft
2. Calculate km to miles
3. Calculate USD to NPR
4. exit!!!
enter the operation in their respective number: 3
welcome to USD to NPR currency converter
--------------------------------------------------
select operation
1. to USD | 2. to NPR | 3. exit
enter operation2
conver to NPR
enter currency in USD: 500
--------------------------------------------------
the converion from USD to NPR is: Rs 61000
--------------------------------------------------

 MAIN MENU
1. Calculate cm to ft
2. Calculate km to miles
3. Calculate USD to NPR
4. exit!!!
enter the operation in their respective number: 1
Welcome to calculation of cm to ft
--------------------------------------------------
select operation
1. to ft | 2. to cm | 3. exit
enter operation1
enter length in CM: 500
--------------------------------------------------
the conversion from cm to feet is:  16.404199475065617 ft
--------------------------------------------------

 MAIN MENU
1. Calculate cm to ft
2. Calculate km to miles
3. Calculate USD to NPR
4. exit!!!
enter the operation in their respective number: 2
Welcome to calculation of km to miles
--------------------------------------------------
select operation
1. to km | 2. to miles | 3. exit
enter operation: 1
enter miles: 500
--------------------------------------------------
the conversion from miles to kilometer is:  800.0 km
--------------------------------------------------

 MAIN MENU
1. Calculate cm to ft
2. Calculate km to miles
3. Calculate USD to NPR
4. exit!!!
enter the operation in their respective number: 4

Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

In [ ]:

def countDog(Heads, Legs):
    count = 0
 
    count = (Legs) - 2 * (Heads)
    count = count / 2
 
    return count

if __name__ == '__main__':
    Heads = 100
    Legs = 300
 
    dog = countDog(Heads, Legs)
 
    print("Dog =", dog)
    print("Hen =", Heads - dog)

Dog = 50.0
Hen = 50.0

Write a program that will swap numbers

In [ ]:
def swapNum(a,b):
  temp = a
  a = b
  b = temp
  return a,b
  
num1 = int(input("enter first number: "))
num2 = int(input("enter second number: "))
swapNum (num1, num2)

enter first number: 2
enter second number: 3

(3, 2)

Write a program to find the sum of first n numbers, where n will be provided by the user. Eg if the user provides n=10 the output should be 55.

In [ ]:
#sum of n natural number = n*(n+1)/2
def natural(n):
  result =  (n*(n+1))/2
  return ("the sum of natural number of the given input is: "+ str(result)) 
n = int(input("enter a number: "))
natural(n)

enter a number: 10

'the sum of natural number of the given input is: 55.0'

Write a program that can multiply 2 numbers provided by the user without using the * operator

In [ ]:

def mult(num1, num2):
  product = 0
  for i in range(0,num2):
    product = product + num1
  print("the product of the number without using * operator is:",product)

num1 = int(input("enter first number: "))
num2 = int(input("enter second number: "))
mult(num1, num2)

enter first number: 4
enter second number: 4
the product of the number without using * operator is: 16

Write a program that can find the factorial of a given number provided by the user.

In [ ]:
def fact(n):
  p = 1
  while n != 0:
    p = n*p
    n -= 1
  print("factorial of the give number is: ",p)
n = int(input("enter a number: "))
fact(n)

enter a number: 12
factorial of the give number is:  479001600

In [ ]:
#bonus
import numpy as np 
num = int(input("enter a number: "))
l = [x+1 for x in range(num)]
print(l)
print(f"factorial is {np.prod(l)}")

enter a number: 5
[1, 2, 3, 4, 5]
factorial is 120

Write a program to print the first 25 odd numbers

In [ ]:
l = []
s = 0
while True:
  if s % 2 != 0:
    l.append(s)
  s += 1
  if len(l)==25:
    break
print("list of 25 odd number is: ",l)

list of 25 odd number is:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

Write a program to print whether a given number is prime number or not

In [ ]:
n = int(input("enter a number: "))
if n > 1:
  for i in range (2, int(n/2)+1):
    if n % i ==0:
      print("it is not a prime number")
    else:
      print("it is a prime number")
else:
  print("it is not a prime number")

enter a number: 5
it is a prime number

Print all the armstrong numbers in the range of 100 to 1000

In [17]:
for num in range(100, 1000):
   order = len(str(num))
   sum = 0
   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10
   if num == sum:
       print(num)

153
370
371
407

The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [22]:
def population(popu):
  for years in range(0,10):
    increment = years * (popu + (popu * 0.1))
    print(increment)
    years -= 1
  return
population(10000)

0.0
11000.0
22000.0
33000.0
44000.0
55000.0
66000.0
77000.0
88000.0
99000.0

Write a program to print all the unique combinations of 1,2,3 and 4

In [35]:
#taking list of number such as [1,2,3,4]
def comb(n):
  for i in range(4):
    for j in range(4):
      for k in range(4):
        for l in range(4):
          if (i!=j, j!=k, k!=l, i!=l):
            print(n[i],n[j],n[k],n[l])

comb([6,7,8,9])

6 6 6 6
6 6 6 7
6 6 6 8
6 6 6 9
6 6 7 6
6 6 7 7
6 6 7 8
6 6 7 9
6 6 8 6
6 6 8 7
6 6 8 8
6 6 8 9
6 6 9 6
6 6 9 7
6 6 9 8
6 6 9 9
6 7 6 6
6 7 6 7
6 7 6 8
6 7 6 9
6 7 7 6
6 7 7 7
6 7 7 8
6 7 7 9
6 7 8 6
6 7 8 7
6 7 8 8
6 7 8 9
6 7 9 6
6 7 9 7
6 7 9 8
6 7 9 9
6 8 6 6
6 8 6 7
6 8 6 8
6 8 6 9
6 8 7 6
6 8 7 7
6 8 7 8
6 8 7 9
6 8 8 6
6 8 8 7
6 8 8 8
6 8 8 9
6 8 9 6
6 8 9 7
6 8 9 8
6 8 9 9
6 9 6 6
6 9 6 7
6 9 6 8
6 9 6 9
6 9 7 6
6 9 7 7
6 9 7 8
6 9 7 9
6 9 8 6
6 9 8 7
6 9 8 8
6 9 8 9
6 9 9 6
6 9 9 7
6 9 9 8
6 9 9 9
7 6 6 6
7 6 6 7
7 6 6 8
7 6 6 9
7 6 7 6
7 6 7 7
7 6 7 8
7 6 7 9
7 6 8 6
7 6 8 7
7 6 8 8
7 6 8 9
7 6 9 6
7 6 9 7
7 6 9 8
7 6 9 9
7 7 6 6
7 7 6 7
7 7 6 8
7 7 6 9
7 7 7 6
7 7 7 7
7 7 7 8
7 7 7 9
7 7 8 6
7 7 8 7
7 7 8 8
7 7 8 9
7 7 9 6
7 7 9 7
7 7 9 8
7 7 9 9
7 8 6 6
7 8 6 7
7 8 6 8
7 8 6 9
7 8 7 6
7 8 7 7
7 8 7 8
7 8 7 9
7 8 8 6
7 8 8 7
7 8 8 8
7 8 8 9
7 8 9 6
7 8 9 7
7 8 9 8
7 8 9 9
7 9 6 6
7 9 6 7
7 9 6 8
7 9 6 9
7 9 7 6
7 9 7 7
7 9 7 8
7 9 7 9
7 9 8 6
7 9 8 7
7 9 8 8
7 9 8 9
7 9 9 6
7 9 9 7
7 9 9 8
7 9 9 9
8 6 6 6
8 6 6 7
8 6 6 8
8 6 6 9
8 6 7 6
8 6 7 7
8 6 7 8
8 6 7 9
8 6 8 6
8 6 8 7
8 6 8 8
8 6 8 9
8 6 9 6
8 6 9 7
8 6 9 8
8 6 9 9
8 7 6 6
8 7 6 7
8 7 6 8
8 7 6 9
8 7 7 6
8 7 7 7
8 7 7 8
8 7 7 9
8 7 8 6
8 7 8 7
8 7 8 8
8 7 8 9
8 7 9 6
8 7 9 7
8 7 9 8
8 7 9 9
8 8 6 6
8 8 6 7
8 8 6 8
8 8 6 9
8 8 7 6
8 8 7 7
8 8 7 8
8 8 7 9
8 8 8 6
8 8 8 7
8 8 8 8
8 8 8 9
8 8 9 6
8 8 9 7
8 8 9 8
8 8 9 9
8 9 6 6
8 9 6 7
8 9 6 8
8 9 6 9
8 9 7 6
8 9 7 7
8 9 7 8
8 9 7 9
8 9 8 6
8 9 8 7
8 9 8 8
8 9 8 9
8 9 9 6
8 9 9 7
8 9 9 8
8 9 9 9
9 6 6 6
9 6 6 7
9 6 6 8
9 6 6 9
9 6 7 6
9 6 7 7
9 6 7 8
9 6 7 9
9 6 8 6
9 6 8 7
9 6 8 8
9 6 8 9
9 6 9 6
9 6 9 7
9 6 9 8
9 6 9 9
9 7 6 6
9 7 6 7
9 7 6 8
9 7 6 9
9 7 7 6
9 7 7 7
9 7 7 8
9 7 7 9
9 7 8 6
9 7 8 7
9 7 8 8
9 7 8 9
9 7 9 6
9 7 9 7
9 7 9 8
9 7 9 9
9 8 6 6
9 8 6 7
9 8 6 8
9 8 6 9
9 8 7 6
9 8 7 7
9 8 7 8
9 8 7 9
9 8 8 6
9 8 8 7
9 8 8 8
9 8 8 9
9 8 9 6
9 8 9 7
9 8 9 8
9 8 9 9
9 9 6 6
9 9 6 7
9 9 6 8
9 9 6 9
9 9 7 6
9 9 7 7
9 9 7 8
9 9 7 9
9 9 8 6
9 9 8 7
9 9 8 8
9 9 8 9
9 9 9 6
9 9 9 7
9 9 9 8
9 9 9 9

User will provide 2 numbers you have to find the of those 2 numbers

In [25]:
#The Highest Common Factor (HCF) of two numbers is the highest possible number which divides both the numbers completely.
#suppose we have 18 (divisible by 1,2,3,6,9,18)
# Function to find HCF the Using Euclidian algorithm
def compute_hcf(x, y):
   while(y):
       x, y = y, x % y
   return x

hcf = compute_hcf(18, 27)
print("The HCF is", hcf)

The HCF is 9